{% extends "/layout/lay.html" %}
{% block body %}
<form action="/post-add-tvshow" method="POST">
    <div class="form-group">
      <label for="tvshow">tvshow name:</label>
      <input type="text" class="form-control" id="movie" placeholder="tvshow name" name="tvshow_name">
    </div>
    <div class="form-group">
      <label for="pwd">year:</label>
      <input type="number" class="form-control" id="pwd" placeholder="tvshow year" name="tvshow_year">
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
    </div>
  <div class="form-group">
    <label for="description">descreption:</label>
    <input type="text" class="form-control" id="descreption" placeholder="tvshow description" name="tvshow_description">
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">type of tvshow</label>
    <select class="form-control" id="exampleFormControlSelect2" name = "tvshow_type">
      <option>action</optn>
      <option>anime</option>
      <option>crime</option>
      <option>family</option>
      <option>horror</option>
      <option>romance</optn>
      <option>thriller</option>
      <option>drama</option>
      <option>adventure</option>
      <option>biography</option>
      <option>fantasy</optn>
      <option>musical</option>
      <option>sci-fy</option>
      <option>war</option>
      <option>animation</option>
      <option>comedy</optn>
      <option>documental</option>
      <option>history</option>
      <option>mystery</option>
      <option>sport</option>
      <option>western</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}